@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 676px) {
  /**************************HOME-PAGE*********************************************************************************************/
  body {
    background-color: black;
  }
  h3 {
    text-transform: uppercase;
    color: #2baae1;
    text-align: center;
    font-size: 1.5rem;
    padding: 3%;
    text-align: center;
    text-decoration: underline;
    font-family: Dancing Script, cursive;
  }
  .logo > img {
    padding: 1rem;
    width: 50px;
    position: absolute;
  }
  .navbar {
    padding: 1rem;
  }
  .navbar__list {
    float: right;
  }
  .navbar__list-link {
    color: white;
    text-decoration: none;
    padding: 0.8rem;
  }
  .navbar__list-link:hover {
    color: #2baae1;
  }
  .div-background-host {
    width: 100%;
    height: 95vh;
    background-image: url("medias/fond-menu.jpg");
    background-size: cover;
  }
  .div-background-host__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 93%;
    width: 100%;
  }
  .div-background-host__text-name {
    color: white;
    text-transform: uppercase;
    font-size: 1.7rem;
  }
  .div-background-host__text-job {
    color: #2baae1;
    font-style: italic;
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  /***************************ABOUT-ME*********************************************************************************************/
  .section-about-me {
    margin-top: 5%;
    height: 100vh;
    width: 100%;
  }
  .section-about-me__div {
    color: white;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
  }
  .section-about-me__div > img {
    padding: 25px;
    width: 300px;
    float: left;
  }
  .section-about-me__div > p {
    font-size: 1.2rem;
    margin: 0 100px;
  }
  /*************************MY-SKILL***********************************************************************************************/
  .section-my-skill {
    margin-top: 5%;
    height: 100vh;
    width: 100%;
    background-image: url("medias/fond-competences.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .section-my-skill__div {
    text-align: center;
    vertical-align: center;
    margin: 0px 150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .section-my-skill__div > img {
    height: 125px;
    padding: 40px;
  }
  /***************************PROJET***********************************************************************************************/
  .section-my-project {
    height: 100vh;
    width: 100%;
  }
  .section-my-project__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 15px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .section-my-project__list > img {
    height: 400px;
  }
  /****************************FORM************************************************************************************************/
  .section-form {
    background-image: url("medias/fond-formulaire.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    float: left;
    padding-top: 0px;
  }
  .section-form__div {
    background-color: rgba(143, 143, 143, 0.425);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    padding-bottom: 50px;
    width: 450px;
    float: left;
    left: 50%;
    position: absolute;
    margin-top: 30px;
    margin-left: -260px;
  }
  .feedback-input {
    color: #3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0);
  }
  .feedback-input:focus {
    background: #fff;
    -webkit-box-shadow: 0;
            box-shadow: 0;
    border: 3px solid #2baae1;
    color: #2baae1;
    outline: none;
    padding: 13px 13px 13px 54px;
  }
  .focused {
    color: #2baae1;
    border: #2baae1 solid 3px;
  }
  textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize: vertical;
  }
  input:hover, textarea:hover,
  input:focus, textarea:focus {
    background-color: white;
  }
  #button-blue {
    float: left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor: pointer;
    background-color: #2baae1;
    color: white;
    font-size: 24px;
    padding-top: 22px;
    padding-bottom: 22px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
  }
  #button-blue:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #2baae1;
  }
  .submit:hover {
    color: #2baae1;
  }
  .ease {
    width: 0px;
    height: 74px;
    background-color: #fbfbfb;
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  .submit:hover .ease {
    width: 100%;
    background-color: white;
  }
}

@media only screen and (max-width: 580px) {
  #div-form {
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
}
/*# sourceMappingURL=style.css.map */