@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Dancing+Script:wght@700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

@media screen and (min-width: 1400px) {
  /************************************************************HOME-PAGE**************************************************************************/
  body {
    background-color: black;
    font-family: "Acme", sans-serif;
  }
  h3 {
    text-transform: uppercase;
    color: #2ba9e0;
    text-align: center;
    font-size: 2.2rem;
    padding: 40px;
    text-align: center;
    letter-spacing: 1px;
  }
  .logo > img {
    padding: 1rem;
    width: 75px;
    float: left;
  }
  .overlay .closebtn {
    display: none;
  }
  #hamburger {
    display: none;
  }
  #modal {
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    top: 0;
    color: white;
  }
  .navbar {
    margin-top: 15px;
    position: absolute;
    right: 0;
  }
  .navbar__list {
    display: inline-block;
  }
  .navbar__list-link {
    color: white;
    text-decoration: none;
    padding: 0.8rem;
    font-size: 1.4rem;
    letter-spacing: 1px;
  }
  .navbar__list-link:hover {
    color: #2ba9e0;
  }
  .div-background-host {
    max-width: 100%;
    height: 100vh;
    background-image: url("medias/fond-menu.jpg");
    background-size: cover;
  }
  .div-background-host__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 85%;
    width: 100%;
  }
  .div-background-host__text-name {
    color: white;
    text-transform: uppercase;
    font-size: 1.7rem;
    letter-spacing: 1px;
  }
  .div-background-host__text-job {
    color: #2ba9e0;
    font-style: italic;
    margin-top: 1rem;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  /***************************ABOUT-ME*********************************************************************************************/
  .section-about-me {
    height: 100vh;
    width: 100%;
  }
  .section-about-me__div {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .section-about-me__div > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-about-me__div > div > img {
    margin-top: 3%;
    margin-left: 5%;
    width: 400px;
    height: auto;
  }
  .section-about-me__div > p {
    font-size: 1.4rem;
    margin: 250px 150px;
    text-align: justify;
  }
  /*************************MY-SKILL***********************************************************************************************/
  .section-my-skill {
    height: 100vh;
    width: 100%;
    background-image: url("medias/fond-competences.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .section-my-skill__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 90vh;
  }
  .section-my-skill__div > img {
    height: 200px;
    padding: 40px;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .section-my-skill__div > img:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  /***************************PROJET***********************************************************************************************/
  .section-my-project {
    height: 100vh;
    width: 100%;
  }
  .section-my-project__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 15px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .section-my-project__list > img {
    height: 500px;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .section-my-project__list > img:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  /****************************FORM************************************************************************************************/
  .section-form {
    background-image: url("medias/fond-formulaire.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-form__div {
    background-color: rgba(143, 143, 143, 0.425);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 500px;
    height: 375px;
  }
  .feedback-input {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #252525;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0);
  }
  .feedback-input:focus {
    background: #383838;
    -webkit-box-shadow: 0;
            box-shadow: 0;
    border: 2px solid #2ba9e0;
    color: white;
    outline: none;
    padding: 13px 13px 13px 54px;
  }
  ::-webkit-input-placeholder {
    color: white;
  }
  :-ms-input-placeholder {
    color: white;
  }
  ::-ms-input-placeholder {
    color: white;
  }
  ::placeholder {
    color: white;
  }
  .focused {
    color: white;
    border: #2ba9e0 solid 3px;
  }
  textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize: vertical;
  }
  input:hover,
  textarea:hover,
  input:focus,
  textarea:focus {
    background-color: #383838;
  }
  #button-blue {
    float: left;
    width: 100%;
    border: white solid 2px;
    cursor: pointer;
    background-color: #2ba9e0;
    color: white;
    font-size: 24px;
    padding-top: 22px;
    padding-bottom: 22px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
  }
  #button-blue:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #2ba9e0;
  }
  .submit:hover {
    color: #2ba9e0;
  }
  .ease {
    width: 0px;
    height: 74px;
    background-color: white;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .submit:hover .ease {
    width: 100%;
    background-color: white;
  }
  #modal {
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    color: white;
    position: fixed;
    font-size: 3rem;
  }
  .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .img > a > img {
    width: 40px;
    padding: 10px 5px;
  }
}

@media screen and (min-width: 850px) and (max-width: 1399px) {
  /**************************HOME-PAGE*********************************************************************************************/
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: black;
    font-family: "Acme", sans-serif;
  }
  h3 {
    text-transform: uppercase;
    color: #2ba9e0;
    text-align: center;
    font-size: 2.2rem;
    padding: 3%;
    text-align: center;
    letter-spacing: 1px;
  }
  .logo > img {
    padding: 1rem;
    width: 75px;
    position: absolute;
  }
  .overlay .closebtn {
    display: none;
  }
  #hamburger {
    display: none;
  }
  .navbar {
    margin-top: 15px;
    position: absolute;
    right: 0;
  }
  .navbar__list {
    display: inline-block;
  }
  .navbar__list-link {
    color: white;
    text-decoration: none;
    padding: 0.8rem;
    font-size: 1.4rem;
    letter-spacing: 1px;
  }
  .navbar__list-link:hover {
    color: #2ba9e0;
  }
  .div-background-host {
    max-width: 100%;
    height: 100vh;
    background-image: url("medias/fond-menu.jpg");
    background-size: cover;
  }
  .div-background-host__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 95%;
    width: 100%;
  }
  .div-background-host__text-name {
    color: white;
    text-transform: uppercase;
    font-size: 1.7rem;
    letter-spacing: 1px;
  }
  .div-background-host__text-job {
    color: #2ba9e0;
    font-style: italic;
    margin-top: 1rem;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  /***************************ABOUT-ME*********************************************************************************************/
  .section-about-me {
    height: 100vh;
    width: 100%;
  }
  .section-about-me__div {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .section-about-me__div > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60vh;
  }
  .section-about-me__div > div > img {
    margin-top: 3%;
    margin-left: 15%;
    width: 200px;
    height: auto;
  }
  .section-about-me__div > p {
    font-size: 1.2rem;
    margin: 150px 150px;
    text-align: justify;
  }
  /*************************MY-SKILL***********************************************************************************************/
  .section-my-skill {
    height: 100vh;
    width: 100%;
    background-image: url("medias/fond-competences.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .section-my-skill__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 90vh;
  }
  .section-my-skill__div > img {
    height: 125px;
    padding: 40px;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .section-my-skill__div > img:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  /***************************PROJET***********************************************************************************************/
  .section-my-project {
    height: 100vh;
    width: 100%;
  }
  .section-my-project__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 15px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .section-my-project__list > img {
    height: 400px;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .section-my-project__list > img:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  /****************************FORM************************************************************************************************/
  .section-form {
    background-image: url("medias/fond-formulaire.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-form__div {
    background-color: rgba(143, 143, 143, 0.425);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 500px;
    height: 375px;
  }
  .feedback-input {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #252525;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0);
  }
  .feedback-input:focus {
    background: #383838;
    -webkit-box-shadow: 0;
            box-shadow: 0;
    border: 2px solid #2ba9e0;
    color: white;
    outline: none;
    padding: 13px 13px 13px 54px;
  }
  ::-webkit-input-placeholder {
    color: white;
  }
  :-ms-input-placeholder {
    color: white;
  }
  ::-ms-input-placeholder {
    color: white;
  }
  ::placeholder {
    color: white;
  }
  .focused {
    color: white;
    border: #2ba9e0 solid 3px;
  }
  textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize: vertical;
  }
  input:hover,
  textarea:hover,
  input:focus,
  textarea:focus {
    background-color: #383838;
  }
  #button-blue {
    float: left;
    width: 100%;
    border: white solid 2px;
    cursor: pointer;
    background-color: #2ba9e0;
    color: white;
    font-size: 24px;
    padding-top: 22px;
    padding-bottom: 22px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
  }
  #button-blue:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #2ba9e0;
  }
  .submit:hover {
    color: #2ba9e0;
  }
  .ease {
    width: 0px;
    height: 74px;
    background-color: white;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .submit:hover .ease {
    width: 100%;
    background-color: white;
  }
  .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .img > a > img {
    width: 40px;
    padding: 10px 5px;
  }
}

@media screen and (min-width: 700px) and (max-width: 849px) {
  /**************************HOME-PAGE*********************************************************************************************/
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: black;
    font-family: "Acme", sans-serif;
  }
  h3 {
    text-transform: uppercase;
    color: #2ba9e0;
    text-align: center;
    font-size: 2.2rem;
    padding: 3%;
    text-align: center;
    letter-spacing: 1px;
  }
  .logo > img {
    padding: 1rem;
    width: 50px;
    float: left;
  }
  #hamburger {
    display: none;
  }
  .overlay .closebtn {
    display: none;
  }
  .navbar {
    margin-top: 15px;
    position: absolute;
    right: 0;
  }
  .navbar__list {
    display: inline-block;
  }
  .navbar__list-link {
    color: white;
    text-decoration: none;
    padding: 0.8rem;
    font-size: 1.4rem;
    letter-spacing: 1px;
  }
  .navbar__list-link:hover {
    color: #2ba9e0;
  }
  .div-background-host {
    max-width: 100%;
    height: 100vh;
    background-image: url("medias/fond-menu.jpg");
    background-size: cover;
  }
  .div-background-host__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 85%;
    width: 100%;
  }
  .div-background-host__text-name {
    color: white;
    text-transform: uppercase;
    font-size: 1.7rem;
    letter-spacing: 1px;
  }
  .div-background-host__text-job {
    color: #2ba9e0;
    font-style: italic;
    margin-top: 1rem;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  /***************************ABOUT-ME*********************************************************************************************/
  .section-about-me {
    height: 100vh;
    width: 100%;
  }
  .section-about-me__div {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .section-about-me__div > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 90vh;
  }
  .section-about-me__div > div > img {
    margin-top: 3%;
    margin-left: 10%;
    width: 200px;
    height: auto;
  }
  .section-about-me__div > p {
    font-size: 1.2rem;
    margin: 280px 50px;
    text-align: justify;
  }
  /*************************MY-SKILL***********************************************************************************************/
  .section-my-skill {
    height: 100vh;
    width: 100%;
    background-image: url("medias/fond-competences.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .section-my-skill__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 90vh;
  }
  .section-my-skill__div > img {
    height: 125px;
    padding: 40px;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .section-my-skill__div > img:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  /***************************PROJET***********************************************************************************************/
  .section-my-project {
    height: 100vh;
    width: 100%;
  }
  .section-my-project__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 15px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .section-my-project__list > img {
    height: 400px;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .section-my-project__list > img:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  /****************************FORM************************************************************************************************/
  .section-form {
    background-image: url("medias/fond-formulaire.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-form__div {
    background-color: rgba(143, 143, 143, 0.425);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 500px;
    height: 375px;
  }
  .feedback-input {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #252525;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0);
  }
  .feedback-input:focus {
    background: #383838;
    -webkit-box-shadow: 0;
            box-shadow: 0;
    border: 2px solid #2ba9e0;
    color: white;
    outline: none;
    padding: 13px 13px 13px 54px;
  }
  ::-webkit-input-placeholder {
    color: white;
  }
  :-ms-input-placeholder {
    color: white;
  }
  ::-ms-input-placeholder {
    color: white;
  }
  ::placeholder {
    color: white;
  }
  .focused {
    color: white;
    border: #2ba9e0 solid 3px;
  }
  textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize: vertical;
  }
  input:hover,
  textarea:hover,
  input:focus,
  textarea:focus {
    background-color: #383838;
  }
  #button-blue {
    float: left;
    width: 100%;
    border: white solid 2px;
    cursor: pointer;
    background-color: #2ba9e0;
    color: white;
    font-size: 24px;
    padding-top: 22px;
    padding-bottom: 22px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
  }
  #button-blue:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #2ba9e0;
  }
  .submit:hover {
    color: #2ba9e0;
  }
  .ease {
    width: 0px;
    height: 74px;
    background-color: white;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .submit:hover .ease {
    width: 100%;
    background-color: white;
  }
  .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .img > a > img {
    width: 40px;
    padding: 10px 5px;
  }
}

@media screen and (min-width: 500px) and (max-width: 699px) {
  /**************************HOME-PAGE*********************************************************************************************/
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: black;
    font-family: "Acme", sans-serif;
  }
  h3 {
    text-transform: uppercase;
    color: #2ba9e0;
    text-align: center;
    font-size: 2.2rem;
    padding: 3%;
    text-align: center;
    letter-spacing: 1px;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .logo > img {
    margin-top: 1rem;
    width: 60px;
    float: none;
  }
  #hamburger {
    display: none;
  }
  .overlay .closebtn {
    display: none;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .overlay-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar {
    margin-top: 15px;
  }
  .navbar__list {
    display: inline-block;
  }
  .navbar__list-link {
    color: white;
    text-decoration: none;
    padding: 0.8rem;
    font-size: 1rem;
    letter-spacing: 1px;
  }
  .navbar__list-link:hover {
    color: #2ba9e0;
  }
  .div-background-host {
    max-width: 100%;
    height: 100vh;
    background-image: url("medias/fond-menu.jpg");
    background-size: cover;
  }
  .div-background-host__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 85%;
    width: 100%;
  }
  .div-background-host__text-name {
    color: white;
    text-transform: uppercase;
    font-size: 1.7rem;
    letter-spacing: 1px;
  }
  .div-background-host__text-job {
    color: #2ba9e0;
    font-style: italic;
    margin-top: 1rem;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  /***************************ABOUT-ME*********************************************************************************************/
  .section-about-me {
    height: 100vh;
    width: 100%;
  }
  .section-about-me__div {
    color: white;
  }
  .section-about-me__div > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-about-me__div > div > img {
    margin-top: 100px;
    width: 100px;
  }
  .section-about-me__div > p {
    font-size: 1.2rem;
    margin: 100px 50px;
    text-align: justify;
  }
  /*************************MY-SKILL***********************************************************************************************/
  .section-my-skill {
    height: 100vh;
    width: 100%;
    background-image: url("medias/fond-competences.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .section-my-skill__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 90vh;
  }
  .section-my-skill__div > img {
    height: 80px;
    padding: 20px;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .section-my-skill__div > img:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  /***************************PROJET***********************************************************************************************/
  .section-my-project {
    height: 100vh;
    width: 100%;
  }
  .section-my-project__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 15px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .section-my-project__list > img {
    height: 400px;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .section-my-project__list > img:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  /****************************FORM************************************************************************************************/
  .section-form {
    background-image: url("medias/fond-formulaire.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-form__div {
    background-color: rgba(143, 143, 143, 0.425);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 300px;
    height: 375px;
  }
  .feedback-input {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #252525;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0);
  }
  .feedback-input:focus {
    background: #383838;
    -webkit-box-shadow: 0;
            box-shadow: 0;
    border: 2px solid #2ba9e0;
    color: white;
    outline: none;
    padding: 13px 13px 13px 54px;
  }
  ::-webkit-input-placeholder {
    color: white;
  }
  :-ms-input-placeholder {
    color: white;
  }
  ::-ms-input-placeholder {
    color: white;
  }
  ::placeholder {
    color: white;
  }
  .focused {
    color: white;
    border: #2ba9e0 solid 3px;
  }
  textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize: vertical;
  }
  input:hover,
  textarea:hover,
  input:focus,
  textarea:focus {
    background-color: #383838;
  }
  #button-blue {
    float: left;
    width: 100%;
    border: white solid 2px;
    cursor: pointer;
    background-color: #2ba9e0;
    color: white;
    font-size: 24px;
    padding-top: 22px;
    padding-bottom: 22px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
  }
  #button-blue:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #2ba9e0;
  }
  .submit:hover {
    color: #2ba9e0;
  }
  .ease {
    width: 0px;
    height: 74px;
    background-color: white;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .submit:hover .ease {
    width: 100%;
    background-color: white;
  }
  .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .img > a > img {
    width: 40px;
    padding: 10px 5px;
  }
}

@media screen and (min-width: 350px) and (max-width: 499px) {
  /**************************HOME-PAGE*********************************************************************************************/
  span {
    display: block;
    width: 300px;
    height: 100px;
    line-height: 100px;
    background: aliceblue;
    text-align: center;
    font-size: 3em;
    font-family: "Lato";
  }
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .overlay-content {
    position: relative;
    top: 30%;
    width: 100%;
    text-align: center;
  }
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #b4b4b4;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .overlay a:hover,
  .overlay a:focus {
    color: white;
  }
  .overlay .closebtn {
    display: block;
    position: absolute;
    color: #b4b4b4;
    top: 10px;
    right: 20px;
    font-size: 60px;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: black;
    font-family: "Acme", sans-serif;
  }
  h3 {
    text-transform: uppercase;
    color: #2ba9e0;
    text-align: center;
    font-size: 2.2rem;
    padding: 3%;
    text-align: center;
    letter-spacing: 1px;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .logo > img {
    margin-top: 25px;
    width: 60px;
    float: none;
  }
  #hamburger > img {
    width: 40px;
    top: 40px;
    left: 25px;
    position: absolute;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    width: 100%;
  }
  #menu {
    display: none;
  }
  #menu.showMenu {
    display: block;
    position: fixed;
  }
  .div-background-host {
    max-width: 100%;
    background: url("medias/fond-menu.jpg") center center no-repeat;
    height: 250px;
    background-size: cover;
  }
  .div-background-host__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 80%;
    width: 100%;
  }
  .div-background-host__text-name {
    color: white;
    text-transform: uppercase;
    font-size: 1.7rem;
    letter-spacing: 1px;
  }
  .div-background-host__text-job {
    color: #2ba9e0;
    font-style: italic;
    margin-top: 1rem;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  /***************************ABOUT-ME*********************************************************************************************/
  .section-about-me {
    width: 100%;
  }
  .section-about-me__div {
    color: white;
  }
  .section-about-me__div > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-about-me__div > div > img {
    margin-top: 100px;
    width: 100px;
  }
  .section-about-me__div > p {
    font-size: 1rem;
    margin: 100px 50px;
    text-align: justify;
  }
  /*************************MY-SKILL***********************************************************************************************/
  .section-my-skill {
    width: 100%;
    background-image: url("medias/fond-competences.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .section-my-skill__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-my-skill__div > img {
    height: 80px;
    padding: 20px;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .section-my-skill__div > img:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  /***************************PROJET***********************************************************************************************/
  .section-my-project {
    width: 100%;
  }
  .section-my-project__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 15px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .section-my-project__list > img {
    height: 400px;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .section-my-project__list > img:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  /****************************FORM************************************************************************************************/
  .section-form {
    background-image: url("medias/fond-formulaire.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-form__div {
    background-color: rgba(143, 143, 143, 0.425);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 300px;
    height: 375px;
  }
  .feedback-input {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #252525;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0);
  }
  .feedback-input:focus {
    background: #383838;
    -webkit-box-shadow: 0;
            box-shadow: 0;
    border: 2px solid #2ba9e0;
    color: white;
    outline: none;
    padding: 13px 13px 13px 54px;
  }
  ::-webkit-input-placeholder {
    color: white;
  }
  :-ms-input-placeholder {
    color: white;
  }
  ::-ms-input-placeholder {
    color: white;
  }
  ::placeholder {
    color: white;
  }
  .focused {
    color: white;
    border: #2ba9e0 solid 3px;
  }
  textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize: vertical;
  }
  input:hover,
  textarea:hover,
  input:focus,
  textarea:focus {
    background-color: #383838;
  }
  #button-blue {
    float: left;
    width: 100%;
    border: white solid 2px;
    cursor: pointer;
    background-color: #2ba9e0;
    color: white;
    font-size: 24px;
    padding-top: 22px;
    padding-bottom: 22px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
  }
  #button-blue:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #2ba9e0;
  }
  .submit:hover {
    color: #2ba9e0;
  }
  .ease {
    width: 0px;
    height: 74px;
    background-color: white;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .submit:hover .ease {
    width: 100%;
    background-color: white;
  }
  .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .img > a > img {
    width: 40px;
    padding: 10px 5px;
  }
}

/*******************************FOOTER*****************************************************************************************************************/
footer {
  background-color: black;
  color: white;
  margin-bottom: 0px;
  border-top: 2px solid white;
  height: 40px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
}
/*# sourceMappingURL=style.css.map */